

.header-layout6 .header-top, .header-layout3 .header-top, .header-layout2 .header-top, .header-layout1 .header-top {
    background-color: #000;
    border-bottom: 1px solid #888;
}
.topbar_main li{
    font-size: 18px!important;
}
.topbar_main a{
    font-size: 18px!important;
}
.topbar_main .social-style1 a i{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.social-style1 {
    background-color: #000;
    padding: 10px 25px;
}

.header_main{
    background: url('assets/images/lilac_hero_bg.jpg');
    background-size: cover;
}
.header_main.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('assets/images/lilac_hero_bg.jpg');
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0px; /* Optional: Adjust padding for effect */
}
.will-sticky .sticky-active {
    position: fixed;
    top: -100%;
    right: 0px;
    left: 0px;
    background-color: #49267f;
    transition: 0.8s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 10px 0px;
}

.header_row{
    position: relative;
}
.header_logo_bg{
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    width: 280px;
    z-index: -1;
    background: transparent;
}
.header_logo {
    background-color: transparent;
    margin-top: 0px;
    padding: 10px 40px 10px 0px;
    max-width: fit-content!important;
    clip-path: polygon(0 1%, 100% 0, 88% 100%, 0% 100%);
}
.header_logo img{
    height: 85px;
    max-width: fit-content!important;
}
.menu-style1 > ul > li > a {
    padding: 15px 0;
    color: #eee;
    font-weight: 500;
    text-transform: none!important;
}
.menu-style1 > ul > li > a:hover {
    color: #fff;
}
.social-style1 {
    padding: 10px 0px 10px 25px;
}
.vs-btn {
    font-size: 18px;
    background: hsla(40, 60%, 46%, 1);

    background: linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BC8C2F", endColorstr="#D7BA82", GradientType=1 );
}
.vs-btn:hover::after {
    background: hsla(40, 60%, 46%, 1);
}
.vs-btn:hover::before {
    background: hsla(40, 60%, 46%, 1);
}
.vs-menu-toggle {
   background: #bc8c2f;
}

@media screen and (min-width: 1500px) {
    .main-menu a {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .hide_medium{
       display: none!important;
    }
}

.mobile_logo_sidebar{
    background: #49267f!important;
}
.button_primary{
    background: #49267f!important;
}
.button_primary:before{
    background: #49267f!important;
}
.button_primary:after{
    background: #49267f!important;
}
.hero_sec{
    background: hsla(40, 60%, 46%, 1);

background: linear-gradient(270deg, hsla(40, 60%, 46%, 1) 37%, hsla(42, 60%, 67%, 1) 100%);

background: -moz-linear-gradient(270deg, hsla(40, 60%, 46%, 1) 37%, hsla(42, 60%, 67%, 1) 100%);

background: -webkit-linear-gradient(270deg, hsla(40, 60%, 46%, 1) 37%, hsla(42, 60%, 67%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#bc8c2f", endColorstr="#ddbf79", GradientType=1 );
}
.hero_content{
    max-width: 600px;
}
.hero_content h1{
    font-size: 3rem!important;
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    .hero_content h1{
        font-size: 2.5rem!important;
    }
}
@media screen and (max-width: 768px) {
    .hero_content{
        padding: 0 12px;
    }
}


.vs-btn.style4:after, .vs-btn.style3:after {
    background: hsla(40, 60%, 46%, 1);

    background: linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(40, 60%, 46%, 1) 50%, hsla(40, 52%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BC8C2F", endColorstr="#D7BA82", GradientType=1 );
}
.vs-btn.style3{
    font-weight: 600!important;
}
.vs-btn.style3:hover{
    color: #fff!important;
    font-weight: 600!important;
}

.main-menu ul.sub-menu li a:before {
    background-color: #bc8c2f;
    box-shadow: inset 0px 2px 4px 0px #bc8c2f;
}
.main-menu ul.sub-menu, .main-menu ul.mega-menu {
    border-bottom: 3px solid #bc8c2f;
}
.main-menu ul.sub-menu li a:hover {
    color: #bc8c2f;
}
.main-menu a {
    text-transform: none;
}

/* Consent Form Section */
.consent-section {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    width: 100%;
}

/* Consent Form Cards */
.consent-card {
    background: #49267f;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.consent-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.consent-card h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.consent-card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.consent-card .btn {
    display: inline-block;
    background: #bc8c2f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.consent-card .btn:hover {
    background: #bc8c2f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .consent-section {
        grid-template-columns: 100%;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .header-links li {
        border-right: 0px solid rgba(255, 255, 255, 0.15);
    }
    .hide_small{
        display: none!important;
    }
}
select, .form-control, .form-select, textarea, input {
    height: 45px;
    padding: 0 25px 0 20px;
}
.form-group{
    margin-bottom: 15px;
}
.media-style6 {
    margin-bottom: 20px;
}
.form_appointment{
padding: 40px;
background: #bc8c2f;
}
.media-style6 .media-icon {
    background-color: #6d46a8;
}
.form_appointment.form-style7 textarea {
    min-height: 80px;
}
.table-style2 {
    border-left: 5px solid #bc8c2f;
}
.cta_hm_row p{
    color: #eee;
}
.cta_hm_row h3{
    font-size: 36px;
    font-weight: 600;
    color: #bc8c2f!important;
}


.team-style4 {
    /* background-color: #e5d2fc; */
    background: #222;
}
.services_section .team-style4 img{
 height: 360px;
 width: 100%;
 object-fit: cover;
}
.services_section h3{
  font-size: 22px!important;
  font-weight: 600;
  margin-bottom: 12px!important;
  padding-top: 5px;
  color: #fff;
}
.services_section p{
  margin-bottom: 5px;
  color: #ccc;
}
.services_section a{
    color: #bc8c2f;
}
.rd_more{
    color: #bc8c2f!important;
}
.services_section a:hover{
    color: #c9a359;
}
.rd_more:hover{
    color: #c9a359!important;
}
.link-btn:before {
    background-color: #c9a359!important;
}
/* .message_image{
    background: #49267f;
    width: fit-content;
    border-radius: 12px;
} */


.vs-icon {
    background: hsla(40, 60%, 46%, 1);

background: linear-gradient(315deg, hsla(40, 60%, 46%, 1) 0%, hsla(42, 60%, 67%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(40, 60%, 46%, 1) 0%, hsla(42, 60%, 67%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(40, 60%, 46%, 1) 0%, hsla(42, 60%, 67%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#bc8c2f", endColorstr="#ddbf79", GradientType=1 );
}
.vs-icon::before {
    border: 1px dashed #bc8c2f;

}
.banner-style3 .banner-title {
    max-width: 600px;
}
.banner-style3 p {
    font-size: 18px;
    max-width: 660px;
    color: #eee;
}
@media (max-width: 991px) {
    .banner-style3 .banner-title {
        max-width: 360px;
    }
}
.imgrad img{
border-radius: 16px!important;
}
@media (max-width: 576px) {
    .imgrad img{
       min-height: 420px;
       width: 100%;
       object-fit: cover;
       border-radius: 0px!important;
    }
    .cta_sec_home h2{
        width: 100%!important;
        font-size: 28px!important;
    }
    .cta_sec_home p{
        font-size: 16px;
        line-height: 20px;
    }
}
.work_hours{
    height: 100%;
    width: 100%;
    background: #f2e8d5;
    filter: blur(0px);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.work_hours::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* Light overlay */
    backdrop-filter: blur(1px); /* Blurs everything behind it */
    z-index: 1;
}
.work_hours .wrapper{
position: relative;
z-index: 2;
}
.work_hours h2{
    font-weight: 600;
}
.work_hours div{
    font-size: 20px;
    font-weight: 500;
}
.work_hours p{
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 991px) {
    .testimonial_row .sec-title{
        margin-bottom: -30px!important;
    }
    .testimonial_row .testi-style4{
        margin-bottom: 50px!important;
    }
}

.footer_main{
    background: #49267f;
    margin-top: 70px;
}
.footer_bottom .copyright-wrap{
    background: #49267f;
}
.footer_logo img{
    height: 120px;
}
.footer-layout8 .widget_title:after, .footer-layout8 .widget_title:before, .footer-layout7 .widget_title:after, .footer-layout7 .widget_title:before, .footer-media .media-icon {
background: hsla(40, 60%, 46%, 1);

background: linear-gradient(135deg, hsla(40, 60%, 46%, 1) 50%, hsla(42, 60%, 67%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(40, 60%, 46%, 1) 50%, hsla(42, 60%, 67%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(40, 60%, 46%, 1) 50%, hsla(42, 60%, 67%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#bc8c2f", endColorstr="#ddbf79", GradientType=1 );
}
.footer_main a:hover{
    color: #f8be4b;
}
.footer-menu a:hover{
    color: #f8be4b!important;
}
.footer_bottom a:hover{
    color: #f8be4b!important;
}
@media (max-width: 1200px) {
    .footer_menu2{
        margin-top: 10px;
    }
    .topbar_main li{
        font-size: 16px!important;
    }
    .topbar_main a{
        font-size: 16px!important;
    }
    
}
@media (max-width: 1399px) {
    .main-menu > ul > li > a {
        font-size: 16px;
    }
}

h2{
    font-weight: 600;
}
.vs-menu-wrapper .vs-menu-toggle {
    background-color: #bc8c2f;
}
.vs-mobile-menu a:hover{
    color: #bc8c2f!important;
}
.vs-menu-wrapper .vs-menu-area {
    max-width: 360px;
}


.why_choose_section{
    padding: 80px 0;
    margin: 80px 0;
    background: #f8f4ea;
}
.service-style5 .service-text {
    max-width: 100%;
}
.why_choose_section h3{
    font-size: 18px;
    font-weight: 600;
}
.why_choose_section .service-style5:hover h3{
color: #fff;
}
.why_choose_section .service-style5:hover{
    background: #bc8c2f;
}
.topbar_main .social-style1 a i:hover {
    color: #bc8c2f;
}
.message_image{
    padding-right: 80px;
}
.why_choose_section p, .offerp, .additional_content_sec p{
    font-size: 18px!important;
}
@media (max-width: 768px) {
    .message_image{
        padding-right: 0px;
    }
}

.hero-layout1 .hero-title {
    width: 650px;
    font-size: 42px!important;
}
.hero_content p{
    font-size: 18px!important;
}
@media (max-width: 991px) {
    .hero-inner{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-inner h1{
         padding-top: 70px!important;
    }
}
@media (max-width: 768px) {
    .hero-inner h1{
        padding-top: 0px!important;
   }
    .hero-layout1 .hero-title {
        width: 100%;
        font-size: 32px !important;
    }
    .hero_content p{
        font-size: 16px!important;
    }
}
.why_choose_section .service-icon img{
    max-height: 80px;
}
.about_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1200px) {
    .message_image {
        padding-right: 0px!important;
    }
    .service-style5 .service-title {
        font-size: 20px;
        transition: all ease 0.4s;
    }
}

@media (max-width: 991px) {
    .banner-style3 .vs-btn {
        font-size: 16px;
        padding: 13px 20px;
    }
}
.testi-style4 .slick-dots button:hover, .testi-style4 .slick-dots .slick-active button {
    background-color: #bc8c2f;
}

@media (min-width: 1500px) {
    .hero-layout1 .hero_content {
        left: -150px!important;
    }
}


